export FQ_DIR="~/Elephant_project/ReSeq/genomic_data/novaseq"
export QC_DIR="${FQ_DIR}/QC"
export TRIM_DIR="${FQ_DIR}/trimmed"
export OUT_DIR="~/Elephant_project/ReSeq/pilot"
export ASSEMBLY="~/Elephant_project/mEleMax1/intermediates/bionano/l2/l2_s1.fa"
export ASSEMBLY_NAME=$(basename $ASSEMBLY ${ASSEMBLY##*.})
export FQ_DIR="~/Elephant_project/novaseq/trimmed"


# arima pipeline variables
export ASSEMBLY="/path/to/assembly.fasta"
export HIC_FQ_1="/path/to/forward_reads"
export HIC_FQ_2="/path/to/reverse_reads"
export OUT_DIR="/path/to/arima_pipeline/out_dir"
export TMPDIR="/path/to/tmp_dir"

# slurm-specific variables
export USER_MAIL='user@mail.de'
export PARTITION='begendiv,main'
export QUEUE="standard"

# conda-specific variables
export CONDA_BIN_DIR="/path/to/conda/bin"
export PICARD_JAR="/path/to/conda/envs/ARIMA_env/share/picard-2.26.10-0/picard.jar"
export SAMTOOLS_BIN="/path/to/conda/envs/ARIMA_env/bin/samtools"
