# pipeline variables
export FQ_DIR="~/Elephant_project/ReSeq/genomic_data/novaseq"
export QC_DIR="${FQ_DIR}/QC"
export TRIM_DIR="${FQ_DIR}/trimmed"

export OUT_DIR="~/Elephant_project/ReSeq/pilot"
export ASSEMBLY="/path/to/assembly.f"
export ASSEMBLY_NAME=$(basename $ASSEMBLY ${ASSEMBLY##*.})
export FQ_DIR="~/Elephant_project/novaseq/trimmed"
export TMPDIR="/path/to/tmp_dir"

# slurm-specific variables
export USER_MAIL='user@mail.de'
export PARTITION='begendiv,main'
export QUEUE="standard"

# conda-specific variables
export CONDA_BIN_DIR="/path/to/conda/bin"
